body{
    margin:0;
    background-color: #3d347d;
    margin-bottom:50px;
}
.logo{
    text-align: center;
    width: 150px;
}
.cabecalho{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.botoes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px; 
    margin-bottom: 40px;
}
.botao-imagem {
    width: 180px;     
    height: auto;    
    object-fit: contain; 
    border-radius: 10px;
    cursor: pointer;
}
.botao-image{
    width: 180px;
    height: 177px;
}
@media (max-width: 780px) {
    .botoes {
        gap: 10px 0px;
        margin-bottom: 10px;
    }
    .botoes a {
        flex: 1 1 45%; 
        max-width: 45%;
        text-align: center;
    }
    .botao-imagem {
        max-width: 140px;
    }
    .botao-image {
        max-width: 140px;
        max-height: 137px;
    }
}
